@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background-color: #e6e6e6;
    color: #333;
    width: 100%;
    background:url(img/banner1.jpg) no-repeat fixed 0 -230px;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align:center;
}

input {
    padding:8px;
}

.primary-btn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    width: 40%;
    font-size: 12px;
    letter-spacing: 2px;
    transition: .3s;
}

.primary-btn:hover {
    background-color: #333;
    color: #fff;
    border: #fff 2px solid;
}

/* Header */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom: #e6e6e6 1px solid;
    z-index: 1;
}

/* Brand */
#brand {
    float: left;
    width: 8%;
    padding-top:20px;
    padding-bottom:20px;
}

/* Navbar */
.navbar {
    float: right;
    padding-top:15px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #333333;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase; 
    text-align: center; 
}

.navbar a:hover {
    border-bottom: #333333 1px solid;
}

/* Current link */
.current a{
    font-weight: bold;
    border-bottom: #333333 1px solid;
}

/* Main */
#main {
    color: #ffffff;
}

#main h1 {
    margin-top: 300px;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}

/* Featured */
#featured {
    background-color: #fff;
    width: 100%;
    margin-top: 180px;
    padding: 10px;
    min-height: 800px;
    position: relative;
}

/* Shop AK button */
#shopAKbtn {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    width: 25%;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .3s;
    box-shadow: 2px 2px 10px #333;
    margin-bottom: 10px;
}

#shopAKbtn:hover {
    background-color: #fff;
    color: #333;
    border: #333 2px solid;
}

/* New Items */
#new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

#item {
    width:80%;
}

/* Footer  */
footer {
    background-color: #333;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 30px;
}

footer .container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

footer input {
    width:50%;
    display:inline;
    float:left;
}

footer button {
    display:inline;
    float:right;
}

#icons i{
    font-size:30px;
    padding: 10px;
}

#copyright {
    font-size: 10px;
    grid-column: 1/span 2;
}